[user]
	name = Gavin Engel
	email = gavin@engel.com
[push]
	default = simple
[url "https://"]
	insteadOf = git://
[alias]
	a = add
	ci = commit -v
	cm = commit -m
	co = checkout
	m = merge
	p = pull
	s = status
	st = status
	unadd = reset
	uncommit = reset --soft HEAD^
